<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1" /> 
<title>CAREER DAY</title>
</head>
<body>
<p>Please fill the form below</p>
     <form method="POST" action="savedetails">
      FIRSTNAME: <input type="text" name ="firstname" /><br /> <br />
      LASTNAME: <input type="text" name ="lastname" /> <br /> <br />
      EMAIL: <input type="text" name ="email" /> <br /> <br />
      PHONENUMBER: <input type="text" name ="phoneNumber" /> <br />
      EDUCATIONAL LEVEL: 
            <select id = "myList">
               <option value = "1">Post Graduate</option>
               <option value = "2">Graduate</option>
               <option value = "3">High School</option>
             </select>
             <br /><br />
     <input type="submit" value="submit"/>
     
     </form>

</body>
</html>